version: "3.8"

services:
  # PostgreSQLサービスを追加
  postgres:
    image: postgres:latest
    container_name: postgres_plo
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=plo_equity
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./postgres/init:/docker-entrypoint-initdb.d

volumes:
  postgres-data:
    driver: local
